# Java / Maven
target/
*.class
*.jar
*.war
*.ear
*.log
.mvn/wrapper/maven-wrapper.properties

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# Eclipse
.metadata/
.classpath
.project
.settings/
.springBeans

# VS Code
.vscode/

# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# iOS / Xcode
build/
DerivedData/
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/project.xcworkspace
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata
*.xcuserstate
*.xcuserdatad
xcuserdata/
Pods/
.sandbox.env

# Environment variables
.env
.env.local
.env.*.local
*.env
**/.env
**/.env.local
**/.env.*.local

# Local Spring Boot configurations
**/application-local.properties
**/application-local.yml
**/application-dev.properties
**/application-dev.yml
